<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <script type="module" src="https://public.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js"></script>

  <style>
    #vizWrapper {
      display: flex;
      justify-content: center;
      width: 200%;
      max-width: 1500px; /* optional cap */
      height: 90vh;      /* use % of screen height */
      margin: auto;
    }

    tableau-viz {
      width: 500%;
      height: 100%;
      display: block;
      border: none;
    }
  </style>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include page-footer.html -%}

  </body>

</html>