<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <script type="module" src="https://public.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js"></script>

  <style>
    .full-width{
      width: 1300px;
      margin-left: -33%;
    }

    #vizWrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 90vh;      /* use % of screen height */
    }

    tableau-viz {
      width: 100%;
      height: 100%;
      display: block;
      border: none;
    }
  </style>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include page-footer.html -%}

  </body>

</html>